body {
  font-family: sans-serif;
  margin: 20px;
}
#tools {
  margin-bottom: 10px;
}
#tools button {
  margin-right: 5px;
}
#container {
  border: 2px solid #888;
  box-sizing: content-box;
  width: 360px;
  height: 360px;
  touch-action: none;
}
